<?xml version="1.0" ?>
<robot name="link">
  <link name="link">
    <visual>
      <geometry>
        <cylinder radius="0.05" length="1.0" />
      </geometry>
      <material name="material">
        <color rgba="0 0 1 1" /> <!-- Blue color -->
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.05" length="1.0" />
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0" />
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
    </inertial>
  </link>
</robot>
